body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
  background-image: url(../ressources/img/background/game.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  display: block;
  position: relative;
  top: 20%;
  flex-direction: column;
  padding: 1.5rem;
  width: 50%;
  margin: auto;
  background-color: #f3edde9d;
  box-shadow: 1px 2px 3px 2px grey;

  perspective: 1000px;
}

h1 {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  color: #9b5924;

  transform: rotateX(0deg) rotateY(-15deg);
  transform-style: preserve-3d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  padding: 1.5rem;
  width: 50%;
  margin: auto;
  background-color: #c2bbbd;
  box-shadow: 1px 2px 3px 2px grey;

  transform: rotateX(0deg) rotateY(15deg);
  transform-style: preserve-3d;
}

form:hover {
  transition: 1s;
  transform: rotateY(0deg);
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5rem;
  color: #424141;
}

label {
  margin-right: 0.5rem;
}

section input {
  background-color: #f3edde;
  border: 1px solid white;
}

section input:focus {
  border: 1px solid green;
}

input[type="submit"] {
  margin: auto;
  width: 50%;
  background-color: green;
  border: 1px solid white;
  padding: 0.5rem 0;
  color: #ffffff;
}

.errorsMsg {
  color: #660f0f;
  margin: 0;
  margin-top: 0.1rem;
  font-size: 14px;
}








